body {
    background :rgb(67, 161, 117);
    height: 100vh;
}


.button {
    border: none;
    padding: 0.645em;
    border-radius: 0.5em;
    cursor: pointer;
}
.button:hover {
    filter: brightness(0.9);
}
button:active {
    transform: translateY(2px);
}
.person-selector {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 3em auto 1em;
    max-width: 40em;
}

.person-selector-button {
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: 1.1em;
}

.active-person {
    background: #380ca0;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.chat-container {
    background: #15202b;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 0 0 1.5em #c3c3c333;
    color: aquamarine;
}
.chat-header {
    margin-bottom: 1em;
    color: aquamarine;
}
.chat-header h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.chat-messages {
    height: 23em;
    overflow: scroll;
}




